[package]
name = "object-pool"
version = "0.4.0"
authors = ["CJP10"]
edition = "2018"
description = "A thread-safe object pool with automatic return and attach/detach semantics"
readme = "README.md"
repository = "https://github.com/CJP10/object-pool"
homepage = "https://github.com/CJP10/object-pool"
documentation = "https://docs.rs/object-pool"
keywords = ["atomic", "garbage", "non-blocking", "lock-free"]
categories = ["concurrency", "memory-management", "data-structures"]
license = "MIT/Apache-2.0"

[dependencies]
parking_lot = "0.9"
crossbeam = "0.7"

[dev-dependencies]
criterion = "0.3"
criterion-plot = "0.4"
lazy_static = "1"

[[bench]]
name = "bench"
harness = false

[profile.release]
debug = true